@import '/src/styles/func.scss';

.posts {
  max-width: $max-width;
  margin: 0 auto 5rem;
  padding: 0 px2rem(16);

  & > div {
    position: relative;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  &_group {
    display: flex;
    gap: 0.75rem;
  }
}

.accio__note {
  position: absolute;
  animation: accio 2s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes accio {
  0% {
    margin-left: 5rem;
    transform: scale(0.1) rotateZ(360deg);
  }
  100% {
    margin-left: 0.5rem;
    transform: scale(1) rotateZ(0deg);
  }
}

.option {
  display: flex;
  align-items: center;

  input:checked {
    accent-color: $color-red;

    & + label {
      color: $color-red;
    }
  }

  input,
  label {
    &:hover {
      cursor: pointer;
    }
  }

  label {
    margin-left: 4px;

    color: $color-gray;
    font-size: px2rem(14);
  }
}

.date__year + .date__month {
  @media (max-width: 639px) {
    margin: px2rem(8) auto;
  }
}

.date {
  &__year {
    margin: 2.5rem auto 0;

    font-size: px2rem(20);
    font-weight: 100;
    color: $color-gray;
    will-change: transform;

    @media (min-width: 640px) {
      position: absolute;
      top: -1.7rem;
      left: -3.5rem;
      transform: rotate(-90deg);
    }
  }
  &__month {
    margin: px2rem(32) px2rem(-2) px2rem(4);
    color: $color-gray;

    text-transform: uppercase;
    font-size: px2rem(14);
    font-weight: 100;
  }
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: px2rem(10);

  &:hover {
    @include link-decoration;
    color: $color-link;
  }

  &__title {
    padding-right: 1rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
  }
  &__day {
    font-size: px2rem(14);
    font-style: italic;
    font-weight: 100;
  }
}

.simple {
  &__post {
    margin-bottom: px2rem(32);
  }

  &__date {
    color: $color-lightgray;
    font-size: px2rem(13);
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 600;

    flex: 1;

    &:hover {
      @include link-decoration;
      color: $color-link;
    }
  }

  .tags {
    font-size: 13px;
    color: $color-lightgray;

    .tag {
      display: inline-block;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .desc {
    display: inline-block;

    font-size: 13px;
    color: $color-lightgray;
    margin-bottom: 4px;
  }
}
