$color-text: #555;
$color-link: #2d8ac3;
$color-blue: $color-link;
$color-red: #cd5c6c;
$color-red2: #c66875;
$color-gray: #666;
$color-lightgray: #999;

@function px2rem($px) {
  @return #{$px / 16}rem;
}

@mixin link-decoration {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
