@tailwind base;
@tailwind components;
@tailwind utilities;

// English
@font-face {
  font-family: 'Iowan Old Style', 'Iowan';
  src: local('Iowan Old Style');
  unicode-range: U+0000-007F, U+0080-00FF;
}

// Korean
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/font/NotoSansKR.otf');
  unicode-range: U+AC00-D7AF, U+4E00;
}

@function px2rem($px) {
  @return #{$px / 16}rem;
}

:root {
  max-width: 1920px;
  font-size: 16px;
  margin: 0 auto;
  font-family: "Iowan Old Style","Georgia", 'serif', 'Noto Sans KR';
  color: #333;
}

::selection {
  background: #009dff33;
}

.post {
  h2 {
    margin: 4rem auto 3rem;
    text-align: center;
    font-size: 1.25rem;
  }

  code, kbd {
    font-family: monospace;
  }

  &-content {
    table, thead, tr, td, th {
      border: 1px solid #eee;
      padding: 1rem;
      margin: 2rem 0;
    }

    blockquote {
      background-color: #f4f4f4;
      margin: 2rem 1rem;
      padding: 0.25rem 0.75rem;
      color: gray;

      p {
        margin: 0;
        line-height: 1.75;

        code, kbd {
          font-style: italic;
          background: none;
        }
      }
    }

    hr {
      margin: 2rem 0;
    }

    a {
      text-decoration: underline;
      text-decoration-color: #009dff33;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 0.5rem;
      text-underline-offset: -0.2rem;
      transition: text-decoration .3s;   
    }

    p > code,
    li > code {
      background-color: #f0f0f0;
    }

    p {
      text-indent: 1rem;
      line-height: 2;
      margin-bottom: 1.15rem;
    }

    img {
      border: 1px solid whitesmoke;

      & ~ em {
        display: block;
        text-align: center;
        font-size: 0.8rem;
        margin-top: -1.5rem;
        color: gray;

        a {
          text-decoration-color: transparent;
        }
      }
    }

    pre, img {
      margin: 2rem auto;

      & > div {
        border-radius: 0.5rem;
      }
    }

    ul, ol {
      margin: 1rem auto;
    }

    ul > li {
      position: relative;
      left: 1rem;
      list-style: circle outside;
      margin: 0.5rem auto;
    }

    ol > li {
      list-style: decimal outside;
    }

    li {
      line-height: 1.75;
    }
  }
}

body, p, blockquote, span,
h1, h2, h3, h4, h5, h6 {
  word-break: keep-all;
}

.footnotes {
  font-size: 0.8rem;
  margin-top: 3rem;
  color: gray;
  h2 { display: none; }
  border-top: 1px solid #eee;
  li { list-style: roman; }
  p { text-indent: 0; margin: 0; padding: 0; line-height: 1.5;}
  a {
    text-decoration-color: transparent;
  }
}
