.wrapper {
  display: flex;
  justify-content: center;

  width: 400px;
  height: 600px;
  margin: auto;

  overflow: hidden;
}

.word {
  display: block;

  font-size: 3rem;
  text-transform: uppercase;
}

.wordsGroup {
  transform: translate(0, -5%);
}

.overlay {
  position: absolute;
  width: inherit;
  height: inherit;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9) 40%,
    transparent,
    transparent 45%,
    transparent,
    transparent 55%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.9)
  );

  z-index: 2;
}
