.wrapper {
  display: flex;
  justify-content: center;

  width: 340px;
  height: 520px;
  margin: auto;

  font-size: 2.75rem;
  text-align: left;

  overflow: hidden;
}

.word {
  display: block;
  text-transform: uppercase;
}
