@import '/src/styles/func.scss';

.header {
  position: fixed;
  top: 0;
  left: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  transform: translateX(-50%);

  max-width: $max-width;
  padding: px2rem(40) px2rem(16);

  color: $color-black;

  backdrop-filter: blur(5px) grayscale(1);
  mask-image: linear-gradient(180deg, #fff, #fff, transparent);
  --webkit-mask-image: linear-gradient(180deg, #fff, #fff, transparent);

  z-index: 999;

  &.scroll {
    font-size: px2rem(20);

    .logo {
      transform: translateY(-200px);
    }
  }
}

.logo {
  font-size: px2rem(18);
  transition: transform 0.3s ease-in-out;
  will-change: transform;

  &__text {
    margin-left: 4px;

    text-transform: uppercase;
  }

  &__cursor {
    display: inline-block;
    width: 0.3rem;
    height: 0.9rem;
    margin-left: 4px;

    background-color: #67baee;
    animation: cursor 1s infinite;
  }
}

.nav {
  &__list {
    display: flex;

    font-size: px2rem(16);
    @include link-decoration;

    left: 0;
    transition: transform 0.3s ease-in-out;
    will-change: transform;

    li {
      position: relative;
      display: flex;
      overflow: hidden;

      a {
        display: flex;
        width: 20px;

        overflow: hidden;
        transition: all 0.15s ease-in-out;

        &:hover {
          width: 60px;

          color: $color-link;

          & > div:first-child {
            visibility: hidden;
          }
          & > div:last-child {
            transform: translateX(-30px);
            // text-align: center;
          }
        }
      }

      div {
        transform: translateX(5px);
        margin-right: 2rem;
      }
    }
  }
}

.header.scroll .top {
  top: px2rem(40);

  &::after {
    position: absolute;
    top: px2rem(-15);
    right: px2rem(-15);

    content: 'thanks ❤️';
    opacity: 0;
    transition: opacity 0.3s ease;

    font-size: 0.8rem;
  }

  &:hover {
    &::after {
      position: absolute;
      top: px2rem(-15);
      right: px2rem(-15);
      content: 'get me up!';
      opacity: 1;
      transition: opacity 0.3s ease;

      font-size: 0.8rem;
    }
    span {
      transition: all 0.3s ease;

      &.earLeft {
        transform: translateY(-5px) rotateZ(100deg);
      }
      &.face {
        transform: translate(1px, -2px);
      }
      &.earRight {
        transform: translateY(-5px) rotateZ(-100deg);
      }
    }
  }
}

.top {
  position: fixed;
  top: px2rem(-200);

  font-size: px2rem(18);

  transition: all 0.3s ease-in-out;

  span {
    display: inline-block;
    transition: all 0.3s ease;
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
