@import '/src/styles/func.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $max-width;
  margin: px2rem(80) auto px2rem(40);
  padding: 0 px2rem(16);

  color: $color-text;
  font-weight: 500;
}

.logo {
  font-size: px2rem(18);

  &__text {
    margin-left: 4px;

    text-transform: uppercase;
  }

  &__cursor {
    display: inline-block;
    width: 0.4rem;
    height: 0.8rem;
    margin-left: 4px;

    background-color: #67baee;
    animation: cursor 1s infinite;
  }
}

.nav {
  &__list {
    display: flex;
    font-size: px2rem(16);
    text-transform: lowercase;
    @include link-decoration;

    li {
      position: relative;
      display: flex;
      overflow: hidden;

      a {
        display: flex;
        width: 25px;

        overflow: hidden;
        transition: all 0.15s ease-in-out;

        &:hover {
          width: 80px;

          color: $color-link;

          & > div {
            transform: translateX(-20px);
          }
        }
      }

      div {
        transform: translateX(6px);
        margin-right: 2.25rem;
      }

      // &:hover {
      //   color: $color-link;

      //   & > div {
      //     transform: translateX(-15px);
      //   }
      // }
    }
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  // 50% {
  //   opacity: 1;
  // }
  100% {
    opacity: 1;
  }
}
