@import '/src/styles/func.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $max-width;
  margin: px2rem(80) auto px2rem(64);
  padding: 0 px2rem(16);

  color: $color-text;
  font-weight: 500;
}

.logo {
  font-size: px2rem(18);

  &__text {
    margin-left: 4px;

    text-transform: uppercase;
  }

  &__cursor {
    display: inline-block;
    width: 0.4rem;
    height: 0.8rem;
    margin-left: 4px;

    background-color: #67baee;
    animation: cursor 1s infinite;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 1.5rem;
    font-size: px2rem(16);
    text-transform: lowercase;
    @include link-decoration;

    li {
      &:hover {
        color: $color-link;
      }
    }
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  // 50% {
  //   opacity: 1;
  // }
  100% {
    opacity: 1;
  }
}
