@import '/src/styles/func.scss';

.container {
  max-width: $max-width;
  padding: 0 px2rem(16);
  margin: 0 auto;
  margin-top: calc($top-margin + 40px);

  color: $color-gray;

  p {
    margin-bottom: 1rem;
    text-indent: 1rem;
  }

  a {
    @include link-decoration;
    color: $color-link;
  }
}

.header {
  align-items: center;
  margin-bottom: 4rem;

  .title {
    font-size: px2rem(20);
  }

  .date {
    span {
      display: block;
    }

    font-size: px2rem(14);
    color: $color-lightgray;
  }
}

.main {
  margin-top: 1.5rem;

  .title {
    margin-bottom: 0.5rem;
    font-size: px2rem(16);
  }

  .list {
    padding-left: 1.5rem;

    list-style-type: 'ãƒ¼ ';

    li::marker {
      font-size: 12px;
    }

    li {
      margin-bottom: px2rem(4);
    }

    & > li {
      margin-bottom: px2rem(8);
    }
  }
}

.note {
  margin-top: 4rem;
  font-size: px2rem(14);

  a {
    text-transform: none;
  }
}

.section {
  margin-bottom: 3rem;
}

.greyed {
  color: #ccc;
}
