@import '/src/styles/func.scss';

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: $max-width;
  margin: 4rem auto;
  padding-top: 4rem;

  color: $color-text;
  border-top: 1px solid #eee;
  font-size: px2rem(14);
}
