@import '/src/styles/func.scss';

.container {
  max-width: $max-width;
  padding: 0 px2rem(16);
  margin: 0 auto;
  margin-top: calc($top-margin + 40px);

  color: $color-gray;

  p {
    margin-bottom: 1rem;
    text-indent: 1rem;
  }

  .link {
    &:hover {
      color: $color-blue;
    }
  }
}

.list {
  &__item {
    margin-bottom: 2rem;

    & > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    span {
      position: relative;
      display: inline;

      &.name {
        font-weight: 500;
      }

      &.date,
      &.rating,
      &.review {
        font-size: 12px;
      }

      &.date,
      &.review {
        color: $color-lightgray;
      }

      &.rating {
        display: flex;
        align-items: center;
      }

      &.review {
        text-transform: lowercase;
      }
    }
  }
}

.title {
  text-transform: lowercase;
  color: $color-blue;
  font-size: 1.25rem;
}

.section {
  margin-bottom: 3rem;
}

.texts {
  margin-right: 4rem;
}

.movie {
  &_title {
    font-size: 1rem;
  }

  &_director {
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 400;
  }
}
