@import '/src/styles/func.scss';

.post {
  max-width: 40rem;
  padding: 0 px2rem(16);
  margin: px2rem(80) auto 0;

  &__header {
    margin-bottom: px2rem(100);
  }

  &__title {
    padding-bottom: px2rem(16);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    display: block;
    color: $color-gray;
    font-size: px2rem(14);
  }

  &__goback {
    display: block;
    font-size: px2rem(14);
    animation: slideLeft 1s infinite alternate
      cubic-bezier(0.39, 0.575, 0.565, 1);
    @include link-decoration;
    color: $color-text;

    &:hover {
      color: $color-red;
    }
  }

  &__content {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #eee;

    h1,
    h2,
    h3 {
      letter-spacing: 0.5px;
    }

    h1 {
      margin: 3rem 0 0.5rem;
      font-size: 1.3rem;
      font-weight: 700;
    }

    h2 {
      margin: 2rem 0 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: $color-gray;
    }

    h3 {
      margin: 2rem 0 0.5rem;
      font-size: 1.1rem;
    }

    h4 {
      font-size: 1rem;
    }

    code,
    kbd {
      font-size: 0.8rem;
      padding: 0.1rem 0.2rem;
    }
  }

  a {
    @include link-decoration;
    color: $color-blue;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
